@config "../tailwind.config.ts";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(93.46% 0.0305 255.11);
	--secondary-background: oklch(100% 0 0);
	--foreground: oklch(0% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(70.4% 0.14 182.503);
	--border: oklch(0% 0 0);
	--ring: oklch(0% 0 0);
	--overlay: oklch(0% 0 0 / 0.8);
	--shadow: 4px 4px 0px 0px var(--border);
	--chart-1: #5294ff;
	--chart-2: #ff4d50;
	--chart-3: #facc00;
	--chart-4: #05e17a;
	--chart-5: #7a83ff;
	--chart-active-dot: #000;
}

.dark {
	--background: oklch(29.23% 0.0626 270.49);
	--secondary-background: oklch(23.93% 0 0);
	--foreground: oklch(92.49% 0 0);
	--main-foreground: oklch(0% 0 0);
	--main: oklch(70.4% 0.14 182.503);
	--border: oklch(0% 0 0);
	--ring: oklch(100% 0 0);
	--shadow: 4px 4px 0px 0px var(--border);
	--chart-1: #5294ff;
	--chart-2: #ff6669;
	--chart-3: #e0b700;
	--chart-4: #04c86d;
	--chart-5: #7a83ff;
	--chart-active-dot: #fff;
}

@theme inline {
	--color-main: var(--main);
	--color-background: var(--background);
	--color-secondary-background: var(--secondary-background);
	--color-foreground: var(--foreground);
	--color-main-foreground: var(--main-foreground);
	--color-border: var(--border);
	--color-overlay: var(--overlay);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--spacing-boxShadowX: 4px;
	--spacing-boxShadowY: 4px;
	--spacing-reverseBoxShadowX: -4px;
	--spacing-reverseBoxShadowY: -4px;
	--radius-base: 5px;
	--shadow-shadow: var(--shadow);
	--font-weight-base: 500;
	--font-weight-heading: 700;
}

@layer base {
	body {
		@apply text-foreground font-base bg-background;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}
.card-custom {
	@apply pt-0 xl:w-md lg:w-md md:w-xs w-full bg-teal-600 text-white hover:translate-x-boxShadowX hover:translate-y-boxShadowY transition hover:shadow-none;
}
.card-custom-2 {
	@apply p-0 sm:w-56 w-40 max-w-full bg-white text-teal-700 hover:translate-x-boxShadowX hover:translate-y-boxShadowY transition hover:shadow-none;
}
.card-custom-3 {
	@apply p-0 md:w-4xl w-full h-140 pointer-events-auto bg-white text-teal-700;
}
